<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-12 col-md-8">.col-12 .col-md-8</div>-->
<!--        <div class="col-6 col-md-4">.col-6 .col-md-4</div>-->
<!--    </div>-->

<!--<div class="container">-->
<!--    <div class="row">-->

<!--<div class="container">-->
<!--    <div class="row">-->

<!--<div class="container">-->
<!--    <div class="row">-->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            You successfully read this important alert message.
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4"></div>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    You successfully read this important alert message.
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4"></div>
                        <div class="alert alert-secondary" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            You successfully read this important alert message.
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-4"></div>
                                <div class="alert alert-success" role="alert">
                                    <h4 class="alert-heading">Well done!</h4>
                                    You successfully read this important alert message.
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-4"></div>
                                        <div class="alert alert-success" role="alert">
                                            <h4 class="alert-heading">Well done!</h4>
                                            You successfully read this important alert message.
                                        </div>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-md-4"></div>
                                                <div class="alert alert-success" role="alert">
                                                    <h4 class="alert-heading">Well done!</h4>
                                                    You successfully read this important alert message.
                                                </div>
</body>
</html>