<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<style>

    h1{
        margin-left: 40px;
    }

    h2{
        margin-left: 40px;
    }

    span{
        margin-left: 40px;
    }

    p{
        margin-left: 40px;
    }
</style>

<body>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">HOME</h5>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/">Home</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/about">About the Bootcamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authors">Blog Authors</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lesson categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/blogEntry1">GitHub</a>
                    <a class="dropdown-item" href="/blogEntry2">Program Design & Algorithms</a>
                    <a class="dropdown-item" href="/blogEntry3">Core Java</a>
                    <a class="dropdown-item" href="/blogEntry4">Object-oriented Java</a>
                    <a class="dropdown-item" href="/blogEntry5">HTML/CSS/Bootstrap</a>
                    <a class="dropdown-item" href="/blogEntry6">Java Polymorphism</a>
                </div>
            </li>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
</nav>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="entry2">
            <div class="excerpt">
                <h2>GitHub</h2>
                <div class="post-meta align-items-center text-left clearfix">
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                <p><a href="/blogEntry1">View details</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="entry2">
            <div class="excerpt">
                <h2>Program Design & Algorithms</h2>
                <div class="post-meta align-items-center text-left clearfix">
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                <p><a href="/blogEntry2">View details</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="entry2">
            <div class="excerpt">
                <h2>Core Java</h2>
                <div class="post-meta align-items-center text-left clearfix">
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                <p><a href="/blogEntry3">View details</a></p>
            </div>
        </div>
    </div>


    <div class="col-lg-4 mb-4">
        <div class="entry2">
            <div class="excerpt">
                <h2>Object-oriented Java</h2>
                <div class="post-meta align-items-center text-left clearfix">
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                <p><a href="/blogEntry4">View details</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="entry2">
            <div class="excerpt">
                <h2>HTML/CSS/Bootstrap</h2>
                <div class="post-meta align-items-center text-left clearfix">
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                <p><a href="/blogEntry5">View details</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="entry2">
            <div class="excerpt">
                <h2>Java Polymorphism</h2>
                <div class="post-meta align-items-center text-left clearfix">
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                <p><a href="/blogEntry6">View details</a></p>
            </div>
        </div>
    </div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>